body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2E334E;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

*::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  outline: "none" !important
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.small-loading {
  border-radius: 50%;
  --mask: radial-gradient(closest-side, transparent 70%, black 76%);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  animation: spin 1s linear infinite reverse;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.select-left {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-right: solid 20px transparent;
  /* border-left: solid 10px transparent; */
  border-bottom: solid 20px white;
}

.select-right {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: solid 20px transparent;
  border-bottom: solid 20px white;
}

.rectangle {
  background-image: url(./assets/image/rankbg.jpeg);
  background-size: cover;
  background-position: center;
}

.share-bg {
  background: #FFBEBE;
  border: 1px solid #FFFFFF;
  box-shadow: 40px 30px 80px rgba(54, 48, 116, 0.3);
  border-radius: 30px;
}

.download-bg {
  background: #F8D3D4;
  box-shadow: 40px 30px 80px rgba(54, 48, 116, 0.3);
  border-radius: 30px;
}

.img-bg {
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), inset -10px -10px 20px #FFFFFF;
  filter: drop-shadow(-6px -6px 6px #FFFFFF) drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.05));
  background: #F8F8F8;
}

.text-bg {
  background: #F8F8F8;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(-2px -2px 2px #FFFFFF);
  border-radius: 10px;
  text-align: center;
}